.app-container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
app-menu-admin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background: #1e1e2f;
  transition: width 0.3s ease;
  z-index: 1000;
}



/* CONTENIDO */
.content {
  flex: 1;
  min-height: 100vh;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

/* cuando está colapsado */
.content.admin-collapsed {
  margin-left: 70px;
}

/* modo público */
.content:not(.admin-mode) {
  margin-left: 0;
}