<div class="app-container">

  <ng-container *ngIf="mostrarLayout; else loginOnly">

    <app-navbar *ngIf="!mostrarAdmin"></app-navbar>

    <app-menu-admin
      *ngIf="mostrarAdmin"
      [collapsed]="adminCollapsed"
      (collapsedChange)="adminCollapsed = $event">
    </app-menu-admin>

    <div 
      class="main-wrapper" 
      [class.admin-mode]="mostrarAdmin"
      [class.admin-collapsed]="adminCollapsed">

      <app-admin-topbar
        *ngIf="mostrarAdmin"
        [collapsed]="adminCollapsed"
        (toggleSidebar)="adminCollapsed = !adminCollapsed">
      </app-admin-topbar>
      
      <main class="content-body">
        <router-outlet></router-outlet>
      </main>

      <app-footer *ngIf="!mostrarAdmin"></app-footer>
    </div>

  </ng-container>

  <ng-template #loginOnly>
    <div class="login-wrapper">
      <router-outlet></router-outlet>
    </div>
  </ng-template>

</div>