<div class="app-container">

  <!-- 🔵 NAVBAR (solo público) -->
  <app-navbar *ngIf="mostrarLayout && !mostrarAdmin"></app-navbar>

  <!-- 🟣 MENU ADMIN -->
  <app-menu-admin *ngIf="mostrarAdmin"></app-menu-admin>

  <!-- MAIN CONTENT -->
  <main class="content"
        [class.admin-mode]="mostrarAdmin"
        [class.admin-collapsed]="adminCollapsed">

    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>

  </main>

  <!-- FOOTER (solo público) -->
  <app-footer *ngIf="mostrarLayout && !mostrarAdmin"></app-footer>

</div>