<div class="app-container">

  <!-- 🔵 NAVBAR PÚBLICO -->
  <app-navbar
    *ngIf="mostrarLayout && !mostrarAdmin">
  </app-navbar>

  <!-- 🟣 SIDEBAR ADMIN -->
  <app-menu-admin
    *ngIf="mostrarAdmin"
    [collapsed]="adminCollapsed"
    (collapsedChange)="adminCollapsed = $event">
  </app-menu-admin>

  <!-- 🟢 CONTENIDO -->
  <main
    class="content"
    [class.admin-mode]="mostrarAdmin"
    [class.admin-collapsed]="adminCollapsed">

    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>

  </main>

  <!-- 🔵 FOOTER PÚBLICO -->
  <app-footer
    *ngIf="mostrarLayout && !mostrarAdmin">
  </app-footer>

</div>