<section class="detalle">

    <div *ngIf="loading">
        Cargando publicación...
    </div>

    <div *ngIf="!loading && publicacion">

        <!-- HEADER -->
        <div class="header">

            <!-- INFO PUBLICACIÓN -->
            <div class="info">

                <h2>{{ publicacion.titulo }}</h2>

                <p class="contenido">
                    {{ publicacion.resumen }}
                </p>

                <p class="meta">
                    <i class="fa-solid fa-book"></i>
                    {{ publicacion.revista }}
                </p>

                <p class="meta">
                    <i class="fa-solid fa-barcode"></i>
                    DOI:
                    <a [href]="'https://doi.org/' + publicacion.doi" target="_blank">
                        {{ publicacion.doi }}
                    </a>
                </p>

                <p class="fecha">
                    <i class="fa-solid fa-calendar"></i>
                    {{ publicacion.fechaPublicacion | date:'mediumDate' }}
                </p>

                <p class="meta">
                    <i class="fa-solid fa-users"></i>
                    {{ publicacion.autores }}
                </p>

            </div>

        </div>

        <!-- PROYECTO RELACIONADO -->
        <div class="proyecto">

            <h2>Proyecto relacionado</h2>

            <div *ngIf="publicacion?.proyecto; else sinProyecto" class="card-proyecto">

                <h3>{{ publicacion.proyecto.titulo }}</h3>

                <p>{{ publicacion.proyecto.descripcion }}</p>

                <p>
                    <i class="fa-solid fa-hashtag"></i>
                    ID: {{ publicacion.proyecto.id }}
                </p>

                <div class="objetivos">
                    <strong>Objetivos:</strong>
                    <ul>
                        <li *ngFor="let obj of publicacion.proyecto.objetivos">
                            {{ obj }}
                        </li>
                    </ul>
                </div>

                <p *ngIf="publicacion.proyecto.resultados">
                    <strong>Resultados:</strong>
                    {{ publicacion.proyecto.resultados }}
                </p>

                <a [routerLink]="['/proyecto-detalle', publicacion.proyecto.id]">
                    <i class="fa-solid fa-eye"></i>
                    Ver proyecto
                </a>

            </div>

            <ng-template #sinProyecto>
                <div class="empty">
                    <i class="fa-solid fa-folder-open"></i>
                    <p>No hay proyecto asociado a esta publicación.</p>
                </div>
            </ng-template>

        </div>

    </div>

</section>