<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      Portal Investigación
    </a>

    <div class="navbar-nav">

      <a class="nav-link" routerLink="/">
        Inicio
      </a>

      <a class="nav-link" routerLink="/nosotros">
        Nosotros
      </a>

      <a class="nav-link" routerLink="/listaProyectos">
        Proyectos
      </a>

      <a class="nav-link" routerLink="/publicaciones">
        Publicaciones
      </a>

      <!-- Contacto solo si NO logeado -->
      <a class="nav-link" routerLink="/contacto"
         *ngIf="!auth.isLoggedIn()">
        Contacto
      </a>

      <!-- Login si NO logeado -->
      <a class="nav-link" routerLink="/login"
         *ngIf="!auth.isLoggedIn()">
        Login
      </a>

      <!-- Panel si logeado -->
      <a class="nav-link" routerLink="admin/proyectos"
         *ngIf="auth.isLoggedIn()">
        Panel de control
      </a>

    </div>

  </div>
</nav>