<h2 class="mb-4">
  Publicaciones Científicas (Admin)
</h2>

<div class="mb-3">

  <a
    class="btn btn-primary"
    routerLink="/admin/publicaciones/nueva">

    + Nueva Publicación

  </a>

</div>

<div *ngIf="loading">
  Cargando...
</div>

<table class="table table-striped" *ngIf="!loading">

  <thead>
    <tr>
      <th>Título</th>
      <th>Revista</th>
      <th>DOI</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let p of publicaciones">

      <td>{{ p.titulo }}</td>
      <td>{{ p.revista }}</td>
      <td>{{ p.doi }}</td>

      <td>

        <a
          class="btn btn-warning btn-sm me-2"
          [routerLink]="['/admin/publicaciones/editar', p.id]">

          Editar

        </a>

        <button
          class="btn btn-danger btn-sm"
          (click)="eliminar(p.id)">

          Eliminar

        </button>

      </td>

    </tr>

  </tbody>

</table>